# Ignore hidden files and directories 
.*

# Track .gitignore
.gitignore

# Ignore checkpoints directory
checkpoints

# Ignore the dataset directory
datasets/

# Ignore the Lighning Logs directory 
lightning_logs