# Ignore the Conda virtual enviroment
.conda

# Ignore the Visual Code Studio configuration directory
.vscode

# Ignore the dataset directory
dataset/

# Ignore training records directory 
notebooks/records

# Ignore runs records directory 
notebooks/runs
